body {
    background-image: url(../images/fundo.png);
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
}

@font-face{
    font-family: frankest;
    src: url(../fonts/frankest-serif-regular.ttf);
}

@font-face {
    font-family: caecilians;
    src: url(/fonts/pmncaeciliasans-head-regular.otf);
}


.cabecalho {
    text-align: center;
}

.cabecalho, h1 {
    font-family: caecilians;
}

.logofuturando {
    width: 20%;
}

.vinteeduascartas {
    width: 40%;
    margin-left: 70px;
}

.vsl--box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.beneficios--title{
    text-align: center;
}

.beneficios--box{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;

}

.beneficio--item{
    width: 150px;
    margin-bottom: 50px;
}

.beneficio--p--title {
    font-family: frankest;
}

.beneficio--p--conteudo {
    font-family: caecilians;
}

.buttonEbook {
    text-align: center;
    width: 50%;
    background: url(../images/fundobutton.png);
    border-radius: 50px;
    font-family: frankest;
}

footer {
    background-color: #F5EAD2;
    display: flexbox;
}

.futurandorodape, img {
    width: 20%;
}

.rapcrodape, img {
    width: 20%;
}

.conteudo--box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-and-text{
    width: 100%;
    display: flex;
    justify-content: center;
}

.textandtext{
    width: 450px;
    font-family: caecilians;
}

.aprenda--taro {
    font-family: frankest;
}

.img--box img{
    width: 550px;
}

.depoimento--box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.depoimento--box h2, .depoimento--box h3{
    display: flex;
    justify-content: flex-start;
}
.depoimentos-items{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.depoimento{
    background-color: red;
    width: 20%;
    height: 20%;
}

.depoimento--title {
    font-family: caecilians;
}

.depoimento--subtitle {
    font-family: frankest;
}

.perguntas--title {
    font-family: caecilians;
}

.perguntas {
    font-family: caecilians;
}

.futurandorodape {
    font-family: caecilians;
}

.rapcrodape {
    font-family: caecilians;
}

.termos--de--uso {
    font-family: caecilians;
}

@media (max-width: 760px){

    .cabecalho{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .vinteeduascartas{
        margin: 0;
        margin-left: 30px;
        width: 80%;
    }

    .beneficios--box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonEbook {
        text-align: center;
        width: 100%;
        background: url(../images/fundobutton.png);
        border-radius: 50px;
    }

    .img-and-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img--box img{
        width: 80%;
        margin-left: 30px;
    }

    .textandtext{
        width: 100%;
        text-align: justify;
    }
    

    
}